version: "3.9"

services:
  countries-tests:
    build:
      context: .
      target: test    # "test" stage from the Dockerfile
    container_name: countries-tests
    # If the tests need environment variables, such as for the GraphQL endpoint...
    # environment:
  web:
    build:
      context: .
      target: web
    container_name: countries-web
    ports: 
      - "8787:8787"
    healthcheck:
      test: ["CMD", "wget", "-q0-", "https://localhost:8787/"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 20s

